@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}

.bg-mesh {
  background: url("/assets/mesh.png") no-repeat;
  background-size: cover;
}

.bg-wave {
  background: url("/assets/wave.svg") no-repeat;
  background-size: cover;
}
